### Payment Service ###
payment-service/docker/.env
payment-service/.idea/
payment-service/*.iws
payment-service/*.iml
payment-service/*.ipr
payment-service/HELP.md
payment-service/target/
payment-service/.mvn/wrapper/maven-wrapper.jar
!payment-service/**/src/main/**/target/
.DS_Store
!payment-service/**/src/test/**/target/


HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
