COMPOSE_PROJECT_NAME="payment-service"

# PostgreSQL
DB_URL=jdbc:postgresql://db:5432/payment_db
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres

# Application ports
APP_PORT_HTTP=8080
APP_PORT_HTTPS=8443
APP_PORT_DEBUG=5005

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_PORT=8090

# Kafka
KAFKA_NODE_ID=2
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CLUSTER_ID=mM-oY_jQT5W6hiFAG2DWkQ
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_LISTENERS=INTERNAL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:29092
KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:29092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true