services:
  db:
    image: postgres:17.5
    container_name: payment_db
    restart: always
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d payment_db" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend-network

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: payment-service
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${APP_PORT_HTTP}:8080"
      - "${APP_PORT_HTTPS}:8443"
      - "${APP_PORT_DEBUG}:5005"
    environment:
      - DB_URL=${DB_URL}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - backend-network

  keycloak:
    image: keycloak/keycloak:26.4
    container_name: keycloak
    restart: always
    volumes:
      - ./keycloak/realm-iprody.json:/opt/keycloak/data/import/realm.json
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    ports:
      - "${KC_PORT}:8080"
    command: [ "start-dev", "--import-realm" ]
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge