spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/payment_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml

app:
  pagination:
    allowed-sort: [ "createdAt", "status" ]
    allowed-page-size: [ 10, 25, 50 ]
    default-page-number: 1
    default-page-size: 10
    default-field-sort: createdAt
    default-direction-sort: ASC
